In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

In [3]:
import pandas as pd
import numpy as np

In [4]:
spark=SparkSession.builder.appName("DataFrame").getOrCreate()

In [5]:
print(spark.version)

3.5.0

In [6]:
data= spark.read.format('csv').\
option('inferSchema','true').\
option('header','true').\
option('path','person_data.csv').\
load()
data.printSchema()

root
 |-- S.No: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Education: string (nullable = true)

In [7]:
data.show()

+----+--------+---+----------+---------+
|S.No|    Name|Age|Occupation|Education|
+----+--------+---+----------+---------+
|   1|   Payal| 19|    Doctor|     yes |
|   2|  Aaryan| 20|  Enginner|       no|
|   3|   Kiran| 19|  designer|      no |
|   4|   Gauri| 21|    player|     yes |
|   5|   Abhay| 21|   teacher|     yes |
|   6| Lakshay| 23|    Doctor|       no|
|   7|     Ali| 43|  Enginner|      no |
|   8|   Kirti| 54|  designer|     yes |
|   9|  Sakshi| 76|    player|     yes |
|  10|   Divya|  2|   teacher|       no|
|  11|   Priya| 32|    Doctor|      no |
|  12|  Naveen| 19|  Enginner|     yes |
|  13|   Sahil| 20|  designer|     yes |
|  14|   Rahul| 20|    player|       no|
|  15|   Nancy| 19|   teacher|      no |
|  16| Shristi| 20|    Doctor|     yes |
|  17|   Sneha| 21|  Enginner|     yes |
|  18|Himanshi| 22|  designer|       no|
|  19|   Komal| 20|    player|      no |
|  20|  Kanika| 20|   teacher|     yes |
+----+--------+---+----------+---------+
only showing top 20 rows

In [8]:
from pyspark.sql.functions import col,desc

In [9]:
data_1 = data.select("Age").\
filter(col("Age")>=25).\
orderBy(desc("Age"))

In [10]:
data_1.printSchema()

root
 |-- Age: integer (nullable = true)

In [11]:
data_1.show()

+---+
|Age|
+---+
| 76|
| 54|
| 43|
| 32|
+---+

In [25]:
data_2 = data.agg({'Age': 'avg'})
data_3 = data.agg({'Age': 'max'})
data_4 = data.agg({'Age': 'min'})

data_2.show()
data_3.show()
data_4.show()

+--------+
|avg(Age)|
+--------+
|    24.2|
+--------+

+--------+
|max(Age)|
+--------+
|      76|
+--------+

+--------+
|min(Age)|
+--------+
|       2|
+--------+

In [19]:
data2= spark.read.format('csv').\
option('inferSchema','true').\
option('header','true').\
option('path','person_data2.csv').\
load()
data.printSchema()

root
 |-- S.No: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- department: string (nullable = true)

In [20]:
data2.show()

+----+--------+---+----------+---------+----------+
|S.No|    Name|Age|Occupation|Education|department|
+----+--------+---+----------+---------+----------+
|S.No|   Payal| 19|    Doctor|     yes |        HR|
|S.No|  Aaryan| 20|  Enginner|       no|        HR|
|S.No|   Kiran| 19|  designer|      no |        IT|
|S.No|   Gauri| 21|    player|     yes |        IT|
|S.No|   Abhay| 21|   teacher|     yes |        IT|
|S.No| Lakshay| 23|    Doctor|       no|        IT|
|S.No|     Ali| 43|  Enginner|      no |        IT|
|S.No|   Kirti| 54|  designer|     yes |        IT|
|S.No|  Sakshi| 76|    player|     yes |        IT|
|S.No|   Divya|  2|   teacher|       no|        IT|
|S.No|   Priya| 32|    Doctor|      no |        IT|
|S.No|  Naveen| 19|  Enginner|     yes |        IT|
|S.No|   Sahil| 20|  designer|     yes |        IT|
|S.No|   Rahul| 20|    player|       no|        IT|
|S.No|   Nancy| 19|   teacher|      no |        IT|
|S.No| Shristi| 20|    Doctor|     yes |        IT|
|S.No|   Sneha| 21|  Enginner|     yes |        IT|
|S.No|Himanshi| 22|  designer|       no|        IT|
|S.No|   Komal| 20|    player|      no |        IT|
|S.No|  Kanika| 20|   teacher|     yes |        IT|
+----+--------+---+----------+---------+----------+
only showing top 20 rows

In [29]:
data2_1 = data.groupby('Department')

average_age_by_department = data2_1['Age'].mean().reset_index()

print(average_age_by_department)

  Department        Age
0         HR  27.500000
1         IT  34.333333