In [6]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("DataFrame").getOrCreate()

In [7]:
import pandas as pd
import numpy as np

In [8]:
data=spark.read.format('csv').\
option('inferSchema','true').\
option('header','true').\
option('path','SalesDataset.csv').\
load()
data.printSchema()

root
 |-- productID: integer (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- QuantitySold: integer (nullable = true)
 |-- PricePerUnit: integer (nullable = true)

In [9]:
data.show()

+---------+-----------+---------------+------------+------------+
|productID|ProductName|       Category|QuantitySold|PricePerUnit|
+---------+-----------+---------------+------------+------------+
|        1|  Product_A|    Electronics|         100|         260|
|        2|  Product_B|       Clothing|         123|         200|
|        3|  Product_C|Home Appliances|          50|          30|
|        4|  Product_D|     Stationary|          80|          10|
+---------+-----------+---------------+------------+------------+

In [10]:
#1.Create a new column named `TotalSales` that represents the total sales for each product (quantity sold multiplied by the price per unit).

In [11]:
from pyspark.sql.functions import col

In [12]:
data=data.withColumn('TotalSales',col('QuantitySold')*col('PricePerUnit'))

In [13]:
data.show()

+---------+-----------+---------------+------------+------------+----------+
|productID|ProductName|       Category|QuantitySold|PricePerUnit|TotalSales|
+---------+-----------+---------------+------------+------------+----------+
|        1|  Product_A|    Electronics|         100|         260|     26000|
|        2|  Product_B|       Clothing|         123|         200|     24600|
|        3|  Product_C|Home Appliances|          50|          30|      1500|
|        4|  Product_D|     Stationary|          80|          10|       800|
+---------+-----------+---------------+------------+------------+----------+

In [14]:
#2.Create a new DataFrame named `electronics_sales` that contains only the rows where the category is "Electronics."

In [15]:
Electronics_sale=data.filter(col('Category')=="Electronics")

In [16]:
Electronics_sale.show()

+---------+-----------+-----------+------------+------------+----------+
|productID|ProductName|   Category|QuantitySold|PricePerUnit|TotalSales|
+---------+-----------+-----------+------------+------------+----------+
|        1|  Product_A|Electronics|         100|         260|     26000|
+---------+-----------+-----------+------------+------------+----------+

In [17]:
#3.Sort the `sales_data` DataFrame in descending order based on the `TotalSales` column.

In [33]:
data=data.orderBy(col("TotalSales").desc())

In [34]:
data.show()

+---------+-----------+---------------+------------+------------+----------+
|productID|ProductName|       Category|QuantitySold|PricePerUnit|TotalSales|
+---------+-----------+---------------+------------+------------+----------+
|        1|  Product_A|    Electronics|         100|         260|     26000|
|        2|  Product_B|       Clothing|         123|         200|     24600|
|        3|  Product_C|Home Appliances|          50|          30|      1500|
|        4|  Product_D|     Stationary|          80|          10|       800|
+---------+-----------+---------------+------------+------------+----------+